{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'dist/output.css' %}">
    <title>Login Page</title>
</head>
<body class="bg-gray-100 min-h-screen flex items-center justify-center">
     <div class="flex flex-col items-center text-center">
         <h1 class="text-2xl font-bold">Welcome to Django TailWind</h1>
        <p class="text-gray-500 ">Let's Learn Something New Today</p>
    </div>
</body>
</html>